.messageCopyWrapper{
  min-width: 400px;
}
.messageCopyWrapper .messageCopyButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.copyButton {
  display: inline-block;
  border-radius: 25px;
  height: 25px;
  width: 25px;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: aliceblue;
  border: solid 1px #dadada;
  box-shadow: 1px 2px 3px;
  cursor: pointer;
}
.copyButton:hover {
  box-shadow: none;
}